@import url('https://fonts.googleapis.com/css2?family=Inter:wght@590&family=Space+Grotesk:wght@300;700&family=Syne:wght@500&display=swap');

.ipad{
    font-family: 'Inter', sans-serif;
font-family: 'Space Grotesk', sans-serif;
font-family: 'Syne', sans-serif;
}